In [1]:
#DF LinkedIn Data Analysis March the 23rd

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import seaborn as sns

In [6]:
df = pd.read_csv('dux-soup-visit-data@2021-03-23 12h08.csv')

In [7]:
df

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,Email,Phone,IM,Twitter,Location,Industry,My Tags,PersonalWebsite,My Notes,Unnamed: 25
0,id.6434782,2020/11/27 09:54:18,https://www.linkedin.com/in/garylittledyke,https://www.linkedin.com/sales/people/ACwAAABi...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Gary,,Littledyke,29986,...,garyl@paradigmevolution.co.uk,07976 270758,,GLittledyke,"Lyme Regis, England, United Kingdom",Management Consulting,invite to SME webinar 2|Sent August 2020 Vlog|...,,NaN,NaN
1,id.1066962,2020/11/27 10:00:43,https://www.linkedin.com/in/drewellis,https://www.linkedin.com/sales/people/ACwAAAAQ...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Andrew,,Ellis,14987,...,drew@wearelikeminds.com,07860728483,Eyetoeye1,drewellis,"Ashburton, England, United Kingdom",Marketing and Advertising,question for SME|do not message|Sent nurture 2...,,NaN,NaN
2,id.652650540,2020/11/27 10:12:00,https://www.linkedin.com/in/nath-aston,https://www.linkedin.com/sales/people/ACwAACbm...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Nath,,Aston,17046,...,nathan@notifia.io,07780455903,nathaston,NathNotifia,"London, England, United Kingdom",Marketing and Advertising,question for SME|do not message|Sent nurture 2...,,NaN,NaN
3,id.71008982,2020/11/27 10:13:18,https://www.linkedin.com/in/osei-akoto-william...,https://www.linkedin.com/sales/people/ACwAAAQ7...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Osei,,Williams,15448,...,oseiakotowilliams@yahoo.co.uk,,,elijahbe,"London, England, United Kingdom",Government Administration,invite to SME webinar|do not message|Sent nurt...,,NaN,NaN
4,id.17238385,2020/11/27 10:21:44,https://www.linkedin.com/in/johnathanbrooks,https://www.linkedin.com/sales/people/ACwAAAEH...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Johnathan,Brooks,Mac,2230,...,jbrooks@spiritbearcoaching.com,07929451012,j.brooks3,j_brooks,"Tunbridge Wells, England, United Kingdom",Professional Training & Coaching,pre pre launch message|linkedin webinar invite...,,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5867,id.840915516,2021/02/17 14:57:41,https://www.linkedin.com/in/matt-williams-b107...,https://www.linkedin.com/sales/people/ACwAADIf...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Matt,,Williams,8,...,matt787476@gmail.com,,,,"Stoke-on-Trent, England, United Kingdom",Information Technology and Services,Sent nurture 2 message,,NaN,NaN
5868,id.85454715,2021/02/17 14:59:04,https://www.linkedin.com/in/matthew-jones-b637...,https://www.linkedin.com/sales/people/ACwAAAUX...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Matthew,,Jones,1,...,m.c.jones236@gmail.com,,,,United Kingdom,-1,Sent nurture 2 message,,NaN,NaN
5869,id.739993495,2021/02/17 16:10:59,https://www.linkedin.com/in/harriet-roberts-b8...,https://www.linkedin.com/sales/people/ACwAACwb...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Harriet,,Roberts,870,...,harrietaliceroberts1999@gmail.com,,,,Greater Brighton and Hove Area,Marketing and Advertising,Webinar 11 question|Sent nurture 2 message,,NaN,NaN
5870,id.268261670,2021/02/17 16:26:19,https://www.linkedin.com/in/catherine-tomlinso...,https://www.linkedin.com/sales/people/ACwAAA_9...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Catherine,,Tomlinson,1453,...,catherine@glasslake.co.uk,07760559487,,,Greater Brighton and Hove Area,Banking,Sent nurture 2 message,,NaN,NaN
5871,id.15178653,2021/02/26 12:15:43,https://www.linkedin.com/in/barrywinbolt,https://www.linkedin.com/sales/people/ACwAAADn...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Barry,,Winbolt,645,...,bwinbolt@gmail.com,+44 1323 894898,,barrywinbolt,"Seaford, England, United Kingdom",Professional Training & Coaching,-default-invited|Sent nurture 2 message|do no...,,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5872 entries, 0 to 5871
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               5872 non-null   object
 1   VisitTime        5872 non-null   object
 2   Profile          5872 non-null   object
 3   SalesProfile     5872 non-null   object
 4   Picture          5872 non-null   object
 5   Degree           5872 non-null   object
 6   First Name       5872 non-null   object
 7   Middle Name      5872 non-null   object
 8   Last Name        5872 non-null   object
 9   Connections      5872 non-null   int64
 10  Summary          5872 non-null   object
 11  From             5872 non-null   object
 12  Title            5872 non-null   object
 13  Company          5872 non-null   object
 14  CompanyProfile   5872 non-null   object
 15  CompanyWebsite   5872 non-null   object
 16  Email            5872 non-null   object
 17  Phone            5872 non-null   object
 18  IM               5872 non-null   object
 19  Twitter          5872 non-null   object
 20  Location         5872 non-null   object
 21  Industry         5872 non-null   object
 22  My Tags          5871 non-null   object
 23  PersonalWebsite  5872 non-null   object
 24  My Notes         0 non-null      float64
 25  Unnamed: 25      0 non-null      float64
dtypes: float64(2), int64(1), object(23)
memory usage: 1.2+ MB

In [9]:
df.sample()

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,Email,Phone,IM,Twitter,Location,Industry,My Tags,PersonalWebsite,My Notes,Unnamed: 25
4103,id.138458939,2021/01/22 13:04:23,https://www.linkedin.com/in/rana-rananjay-sing...,https://www.linkedin.com/sales/people/ACwAAAhA...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Rana,,Singh,937,...,singh.ranalko@gmail.com,+919984779753,wapfluid,,"Lucknow, Uttar Pradesh, India",Information Technology and Services,Linkedin webinar 4 invite|Sent nurture 2 message,,NaN,NaN

In [14]:
First=df['Degree']=='1'

In [15]:
First

0       True
1       True
2       True
3       True
4       True
        ...
5867    True
5868    True
5869    True
5870    True
5871    True
Name: Degree, Length: 5872, dtype: bool

In [16]:
first=df[First]

In [17]:
first

,id,VisitTime,Profile,SalesProfile,Picture,Degree,First Name,Middle Name,Last Name,Connections,...,Email,Phone,IM,Twitter,Location,Industry,My Tags,PersonalWebsite,My Notes,Unnamed: 25
0,id.6434782,2020/11/27 09:54:18,https://www.linkedin.com/in/garylittledyke,https://www.linkedin.com/sales/people/ACwAAABi...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Gary,,Littledyke,29986,...,garyl@paradigmevolution.co.uk,07976 270758,,GLittledyke,"Lyme Regis, England, United Kingdom",Management Consulting,invite to SME webinar 2|Sent August 2020 Vlog|...,,NaN,NaN
1,id.1066962,2020/11/27 10:00:43,https://www.linkedin.com/in/drewellis,https://www.linkedin.com/sales/people/ACwAAAAQ...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Andrew,,Ellis,14987,...,drew@wearelikeminds.com,07860728483,Eyetoeye1,drewellis,"Ashburton, England, United Kingdom",Marketing and Advertising,question for SME|do not message|Sent nurture 2...,,NaN,NaN
2,id.652650540,2020/11/27 10:12:00,https://www.linkedin.com/in/nath-aston,https://www.linkedin.com/sales/people/ACwAACbm...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Nath,,Aston,17046,...,nathan@notifia.io,07780455903,nathaston,NathNotifia,"London, England, United Kingdom",Marketing and Advertising,question for SME|do not message|Sent nurture 2...,,NaN,NaN
3,id.71008982,2020/11/27 10:13:18,https://www.linkedin.com/in/osei-akoto-william...,https://www.linkedin.com/sales/people/ACwAAAQ7...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Osei,,Williams,15448,...,oseiakotowilliams@yahoo.co.uk,,,elijahbe,"London, England, United Kingdom",Government Administration,invite to SME webinar|do not message|Sent nurt...,,NaN,NaN
4,id.17238385,2020/11/27 10:21:44,https://www.linkedin.com/in/johnathanbrooks,https://www.linkedin.com/sales/people/ACwAAAEH...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Johnathan,Brooks,Mac,2230,...,jbrooks@spiritbearcoaching.com,07929451012,j.brooks3,j_brooks,"Tunbridge Wells, England, United Kingdom",Professional Training & Coaching,pre pre launch message|linkedin webinar invite...,,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5867,id.840915516,2021/02/17 14:57:41,https://www.linkedin.com/in/matt-williams-b107...,https://www.linkedin.com/sales/people/ACwAADIf...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Matt,,Williams,8,...,matt787476@gmail.com,,,,"Stoke-on-Trent, England, United Kingdom",Information Technology and Services,Sent nurture 2 message,,NaN,NaN
5868,id.85454715,2021/02/17 14:59:04,https://www.linkedin.com/in/matthew-jones-b637...,https://www.linkedin.com/sales/people/ACwAAAUX...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Matthew,,Jones,1,...,m.c.jones236@gmail.com,,,,United Kingdom,-1,Sent nurture 2 message,,NaN,NaN
5869,id.739993495,2021/02/17 16:10:59,https://www.linkedin.com/in/harriet-roberts-b8...,https://www.linkedin.com/sales/people/ACwAACwb...,https://media-exp1.licdn.com/dms/image/C5603AQ...,1,Harriet,,Roberts,870,...,harrietaliceroberts1999@gmail.com,,,,Greater Brighton and Hove Area,Marketing and Advertising,Webinar 11 question|Sent nurture 2 message,,NaN,NaN
5870,id.268261670,2021/02/17 16:26:19,https://www.linkedin.com/in/catherine-tomlinso...,https://www.linkedin.com/sales/people/ACwAAA_9...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Catherine,,Tomlinson,1453,...,catherine@glasslake.co.uk,07760559487,,,Greater Brighton and Hove Area,Banking,Sent nurture 2 message,,NaN,NaN
5871,id.15178653,2021/02/26 12:15:43,https://www.linkedin.com/in/barrywinbolt,https://www.linkedin.com/sales/people/ACwAAADn...,https://media-exp1.licdn.com/dms/image/C4D03AQ...,1,Barry,,Winbolt,645,...,bwinbolt@gmail.com,+44 1323 894898,,barrywinbolt,"Seaford, England, United Kingdom",Professional Training & Coaching,-default-invited|Sent nurture 2 message|do no...,,NaN,NaN

In [41]:
cities=first.groupby('Location')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(5)

In [42]:
cities

                               Location  count
729     London, England, United Kingdom   1002
464      Greater Brighton and Hove Area    870
1185                     United Kingdom    260
154   Brighton, England, United Kingdom    121
601       Hove, England, United Kingdom    119

In [39]:
industry=first.groupby('Industry')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(10)

In [40]:
industry

                                Industry  count
83             Marketing and Advertising    823
65   Information Technology and Services    743
109     Professional Training & Coaching    628
56          Health, Wellness and Fitness    287
80                 Management Consulting    286
44                    Financial Services    166
126              Staffing and Recruiting    154
26                     Computer Software    153
69                              Internet    144
36                  Education Management    135

In [46]:
company=first.groupby('Company')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(10)

In [47]:
company

                         Company  count
3770               Self-employed     77
0                                    46
1610                   Freelance     30
3761               Self Employed     28
1556                      Fiverr     23
4785  West Sussex County Council     19
4632                      Upwork     17
1439                    Ericsson     14
4622        University of Sussex     12
264             American Express     12

In [43]:
title=first.groupby('Title')['Degree'] \
                             .count() \
                             .reset_index(name='count') \
                             .sort_values(['count'], ascending=False) \
                             .head(5)

In [44]:
title

                  Title  count
1042           Director    187
2308  Managing Director    131
2580              Owner    126
1426            Founder    112
769          Consultant     63

In [50]:
2+2+9+0+0+7+8+7+8

43